In [1]:
# Dependencies
import csv
import os
import pandas as pd

In [3]:
#path to csv file
budget = os.path.join("Resources", "budget_data.csv")

#make it a pandas dataframe 
df=pd.read_csv(budget)
df

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [4]:
#total months 
total_months = len(df)
total_months

86

In [5]:
#total profits and losses 
net_total = df['Profit/Losses'].sum()
net_total

22564198

In [6]:
#Profit and losses over time 
df['Profit_Change']= df['Profit/Losses'].diff()
df

      Date  Profit/Losses  Profit_Change
0   Jan-10        1088983            NaN
1   Feb-10        -354534     -1443517.0
2   Mar-10         276622       631156.0
3   Apr-10        -728133     -1004755.0
4   May-10         852993      1581126.0
..     ...            ...            ...
81  Oct-16        -729004     -1627245.0
82  Nov-16        -112209       616795.0
83  Dec-16         516313       628522.0
84  Jan-17         607208        90895.0
85  Feb-17         382539      -224669.0

[86 rows x 3 columns]

In [7]:
#Average of Change 
average_change = df['Profit_Change'].mean()
average_change

-8311.105882352942

In [8]:
#Greatest increase in profit 
greatest_increase = df.loc[df['Profit_Change'].idxmax()]
greatest_increase

Date                Aug-16
Profit/Losses       951227
Profit_Change    1862002.0
Name: 79, dtype: object

In [9]:
#Greatest decrease in profit 
greatest_decrease = df.loc[df['Profit_Change'].idxmin()]
greatest_decrease

Date                Feb-14
Profit/Losses      -946748
Profit_Change   -1825558.0
Name: 49, dtype: object

In [11]:
#Prepare the results 

results = f"""Financial Analysis 
--------------------------------
Total Months: {total_months}
Total: ${net_total}
Average Change: ${average_change:.2f}
greatest increase in profits: {greatest_increase['Date']} ${greatest_increase['Profit_Change']:.0f}
greatest decrease in profits: {greatest_decrease['Date']} ${greatest_decrease['Profit_Change']:.0f}
"""
results

'Financial Analysis \n--------------------------------\nTotal Months: 86\nTotal: $22564198\nAverage Change: $-8311.11\ngreatest increase in profits: Aug-16 $1862002\ngreatest decrease in profits: Feb-14 $-1825558\n'

In [12]:
print(results)

Financial Analysis
--------------------------------
Total Months: 86
Total: $22564198
Average Change: $-8311.11
greatest increase in profits: Aug-16 $1862002
greatest decrease in profits: Feb-14 $-1825558

In [13]:
#create output directory 
output = "Analysis"
os.makedirs(output, exist_ok=True)

In [19]:
#Write results to text file 
output_path = os.path.join(output,"financial_analysis.txt")
with open(output_path, 'w') as output_file: 
    output_file.write(results)

In [20]:
print(f"Results have been saved to {output_path}")

Results have been saved to Analysis/financial_analysis.txt